body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0c0705; /* Replace with NRG's primary color */
    color: #da4a27;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #5f5e5c;
}

section {
    padding: 40px;
}

#team {
    background-color: #DB694C; /* Replace with a suitable background color */
}

#games {
    background-color: #0C0705; /* Replace with a suitable background color */
}

#dashboard {
    background-color: #da4a27; /* Replace with a suitable background color */
}

footer {
    background-color: #000000;
    color: #EEEEEE;
    text-align: center;
    padding: 20px;
}