/*ARTHS*/
    
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(135deg, #000, #E53B2C, #fff);
            color: #fff;
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            text-align: center;
            border: 5px solid #E53B2C;
            padding: 50px;
            background-color: rgba(0, 0, 0, 0.8);
            opacity: 0;
            animation: fadeIn 2s forwards;
        }

        h1 {
            font-size: 48px;
            margin-bottom: 40px;
            text-transform: uppercase;
        }

        .links {
            margin-top: 20px;
        }

        .links a {
            display: inline-block;
            color: #fff;
            text-decoration: none;
            font-size: 18px;
            margin: 10px;
            padding: 15px 30px;
            border: 2px solid #E53B2C;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.7);
            transition: background-color 0.3s, transform 0.3s;
            text-transform: uppercase;
            font-weight: bold;
        }

        .links a:hover {
            background-color: #E53B2C;
            transform: scale(1.1);
        }

        @keyframes fadeIn {
            to {
                opacity: 1;
            }
        }
        @keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #f0f0f0;
    background-color: #121212; /* Fallback background */
}
.button, .home-button {
    padding: 15px 30px;
    background-color: #ff0000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    border: 2px solid #ff0000;
    transition: all 0.3s ease;
}

.button:hover, .home-button:hover {
    background-color: #fff;
    color: #ff0000;
    border-color: #fff;
    cursor: pointer;
}



        