/* Sentinels Esports Theme */

body {
    background-color: #0A0A0A; 
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    background-color: #DC3545; /* Sentinels' red */
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

h3{
    text-align: center;
}

ul{
    text-align: center; 
}

.logo{
    text-align: center;
}

li{
    list-style-type: none !important;
}

nav {
    background-color: #333333; 
    padding: 10px;
    text-align: center;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}

nav a:hover {
    color: #DC3545; 
}

.main-content {
    padding: 20px;
    background-color: #1A1A1A; 
    text-align: center;
}

button {
    background-color: #DC3545;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #A72C3D; 
}

footer {
    background-color: #DC3545;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
    margin-left: auto;
    
}
/*downsizing roster images */
#roster img {
    width: 250px; 
    height: auto; 
    margin-bottom: 20px;
    border-radius: 10px; 
    object-fit: cover; 
    display: block; 
    margin-left: auto;
    margin-right: auto;
}
#logos img {
    width: 30px; 
    height: auto; 
    margin-bottom: 20px;
    border-radius: 10px; 
    object-fit: cover; 
    display: block; 
    margin-left: auto;
    margin-right: auto;
}







/* Header container for icons */
.header     {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #DC3545; 
}


.header-icons {
    display: flex;
    align-items: center;
}

/* Person Icon styles */
.person-icon img {
    width: 30px; 
    height: 30px; 
    margin-left: 20px; 
    cursor: pointer;
}

.person-icon img:hover {
    filter: brightness(80%);
}

/* Hamburger Menu styles */
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.hamburger div {
    width: 100%;
    height: 3px;
    background-color: #fff;
}

