/* Login page styles */
body{
    background-color: #DC3545;
}

.login-container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #111;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #DC3545; 
}

.login-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #ddd;
}

.input-group input {
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.login-button {
    padding: 10px;
    background-color: #DC3545;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

.login-button:hover {
    background-color: #a12832;
}

.extra-links {
    margin-top: 20px;
    font-size: 0.9em;
}

.extra-links a {
    color: #DC3545;
    text-decoration: none;
}

.extra-links a:hover {
    text-decoration: underline;
}