header {
    margin: auto;
    width: 50%;
    padding: 10px;
}

h1{
    width: 400px;
    background-color: gold;
    text-align: center;
    margin: 0 auto;
}

h2{
    width: 100px;
    background-color: red;
    text-align: center;
    margin-top: auto;
}

p {
    text-align: left;
    background-color: black;
    color: white;
    width: 800px;
}